<div class="jumbotron">
  <p>
  Hesperides is a platform that enables people to crowdfund incredibly ambitious goals.
  </p>
  <p>
  Each goal on the platform has an associated multi-signature bitcoin wallet, the signatures to which are distributed to some number of experts who hold the authority to deem the goal achieved. Anybody can transfer bitcoin to the wallet, but in order to unlock the wallet to disburse the funds, a supermajority of experts need to agree to that decision.
  </p>
</div>
